<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <unipay>
                <active>1</active>
                <model>UniPAYPaymentGateway\Unipay\Model\PaymentMethod</model>
                <completed_order_status>complete</completed_order_status>
                <pending_order_status>pending</pending_order_status>
                <title>UniPAY Checkout</title>
            </unipay>
        </payment>
    </default>
</config>
